* {
  margin: 0;
  padding: 0;
}

#app {
  width: 400px;
  height: 250px;
}

.container {
  margin: 10px;
  text-align: center;
}

small {
  color: #666;
  font-size: 80%;
  line-height: 1;
}

.block {
  display: block;
  position: relative;
  clear: both;
  margin: 5px auto 10px;
  max-width: 320px;
}

.float-label {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: block;
  margin: 5px 0px;
  transition: all 300ms;
  text-align: left;
  color: #333;
}

input.input.has-value + label,
input.input:focus + label {
  top: 0px;
  left: 0px;
  color: #000;
  font-weight: 800;
}

input.input + label {
  top: 36px;
  left: 10px;
}

input.input {
  width: 100%;
  border: inset 1px #000;
  outline:none;
  padding: 10px;
  margin-top: 30px;
  background: none;
}
